:root {
  --color-white: #fff5f5;
  --color-light: #fbf6f6;
  --color-gray: #b4afaf;
  --color-dark-gray: #242424;
  --color-primary: #3c87f0;
  --color-secondary: #f2c344;
  --color-dark: #1e1f24;
  --color-tags: #97a6b4;
  --color-dark-blue: #011947;
  --color-dark-shadow: #121212;
  --color-success: #2ea44f;
}

body {
  font-family: "Urbanist", sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  background: #F5F5F5;
  list-style: none;
}

a {
  text-decoration: none;
}

.home {
  background-image: url(./assets/bg.svg);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 50% 28vh;
}

/*NavBar Style*/
.home_navbar-link {
  color: #04396a;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0.1rem;
  margin-right: 26px;
  font-size: 18px;
}

.home_navbar-link:hover {
  opacity: 0.8;
}

.home_navbar-links__btn {
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.primary-btn {
  color: white;
  background: var(--color-primary);
  transition: 0.3s;
}

.text-btn {
  color: #04396a;
  font-weight: 600;
  background: transparent;
}

.primary-btn:hover {
  opacity: 0.8;
}

.text-btn:hover {
  opacity: 0.8;
}

.nav-btn {
  font-size: 18px;
  padding: 8px 22px;
  border-radius: 5px;
}

.btn {
  border: none;
  cursor: pointer;
  font-family: "Urbanist", sans-serif;
}

.home_navbar-links--toggled {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 5px;
  padding: 16px;
  background: var(--color-dark-gray);
  border-radius: 5px;
  box-shadow: 8px 8px 10px var(--color-dark-shadow);
  z-index: 10;
  transition: 0.3s;
}

.link--toggled {
  margin-bottom: 15px;
}


/*Header Style*/

.email-bar-input {
  border: none;
  outline: none;
  background-color: #f0f0f0;
  width: 70%;
  font-size: 16px;
  font-family: "Urbanist";
}

.header-btn {
  width: 30%;
  padding: 8px 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 28px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*Content Style */
.content-box {
  margin-top: 10px;
  border-left: 2px solid var(--color-primary);
  padding-left: 40px;
  margin-bottom: 80px;
  transition: 0.3s;
}

.content-box:hover {
  border-left: 2px solid var(--color-gray);
}

.content-primary-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  margin-top: 40px;
  font-size: 22px;
  width: auto;
  border-radius: 10px;
}

.content-primary-btn svg {
  margin-left: 14px;
}

.about-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  background: linear-gradient(
    145.6deg,
    rgba(60, 135, 240, 0.93) 0%,
    rgba(4, 57, 106, 0.93) 101.36%
  );
  margin-top: 250px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


.auth-form span {
  color: #F2AB44;
  font-size: 16px;
  font-weight: 500;
}

.auth-form label {
  color: #04396A;
  display: block;
  margin-top: 32px;
  margin-bottom: 8px;
  font-size: 16px;
}

.auth-form input {
  outline: none;
  background: none !important;
  border: 2px solid #AFB1B3;
  border-radius: 2px;
  line-height: 30px;
  font-weight: 200;
  color: #04396A;
  caret-color: black;
  font-weight: 600;
  width: 78%;
  margin-right: 5px;
}

.auth-form input:focus {
  border: 2px solid var(--color-primary);
}

.signup-btn {
  color: var(--color-success);
  background: none;
  border: 2px solid var(--color-success);
  border-radius: 10px;
  line-height: 30px;
  font-size: 18px;
  flex-grow: 1;
}

.signup-btn:disabled {
  color: #AFB1B3;
  border-color: #AFB1B3;
  opacity: 0.6;
}

.auth-msg {
  margin-top: 20px;
  margin-left: 20px;
  color: #AFB1B3;
  font-size: 16px;
  font-weight: 400;
}

.auth-link {
  color: #3C87F0 !important;
  cursor: pointer;
  font-weight: 400;
}

.auth-link:hover {
  text-decoration: underline;
}

.email-confirmation input {
  font-size: 16px;
}

.--grow {
  position: relative;
  width: 100%;
}

.email-confirmation input {
  width: 100%;
}

.login-form input {
  width: 100%;
}

.login-btn {
  position: relative;
  margin-top: 42px;
  margin-bottom: 18px;
  left: 50%;
  width: 100%;
  padding: 6px 12px;
  transform: translateX(-50%);
  background: var(--color-primary);
  color: var(--color-white);
  font-size: 22px;
  border-radius: 5px;
  opacity: 0.9;
}

.login-btn:hover {
  opacity: 1;
}

.auth-option {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.auth-option button {
  background: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid #AFB1B3;
  border-radius: 2px;
  padding: 8px 12px;
  width: 80%;
  margin-bottom: 10px;
  transition: 0.2s;
  cursor: pointer;
}

.auth-option button span {
  color: #04396A;
}

.auth-option button svg {
  color: #04396A;
  font-size: 18px;
}

.auth-option button:hover {
  background: #F0F0F0;
}

.auth-option button:nth-child(4),
.auth-option button:nth-child(5) {
  display: block;
}

.auth-option button:nth-child(4) span,
.auth-option button:nth-child(5) span {
  position: relative;
  margin-right: 80%;
}

.auth-option button:nth-child(4) svg,
.auth-option button:nth-child(5) svg {
  color: #AFB1B3;
  font-size: 18px;
}

.speciality-option {
  margin-top: 10px;
}

.speciality-option button svg {
  color: #04396A !important;
}

.header-title {
  color: var(--color-white);
  font-size: 52px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.header-sub-title {
  color: var(--color-gray);
  font-weight: 400;
  font-size: 22px;
  margin: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input[type="email"] {
  outline: none;
  padding: 12px;
  border: none;
  border-radius: 2px;
  width: 400px;
  font-size: 16px;
  font-family: "Urbanist";
  margin-bottom: 50px;
}

.contact-form input[type="email"]::placeholder {
  font-weight: 400;
}

.contact-form textarea {
  border: none;
  border-radius: 2px;
  padding: 12px;
  width: 400px;
  height: 200px;
}

.search-form {
  border: 2px solid #e3e3e3;
  transition: 0.3s ease-in-out;
  background: none;
}

.search-form:hover {
  border-color: var(--color-tags);
}

.search-bar {
  outline: none;
  border: none;
  background: none;
  font-size: 18px;
}

.search-bar::placeholder {
  color: var(--color-tags);
}

.nos-btn {
  font-size: 26px;
  background: none;
  border: none;
  color: #04396a;
  transition: 0.3s;
}

.nos-btn svg {
  position: relative;
}

.nos-btn svg::before {
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  top: 0;
  right: 0;
  background: red;
}

.nos-btn:hover {
  color: #1640ac;
}

.navtxt-btn {
  background: linear-gradient(
    278.58deg,
    #3c87f0 0%,
    rgba(60, 135, 240, 0.46) 111.33%
  );
  color: #ffffff;
  font-weight: 600;
  padding: 12px 18px;
  border-radius: 20px;
  margin-right: 15px;
}

.navtxt-btn:hover {
  background: #3c87f0;
  box-shadow: 2px 6px 10px rgba(60, 135, 240, 0.46);
}

.menu-btn {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.left {
  flex-basis: 30%;
  position: sticky;
}

.post-label {
  font-size: 12px;
  font-weight: 400;
}

.post-link {
  color: var(--color-tags);
}

.post-link:hover {
  color: var(--color-dark-gray);
}

.profile-link {
  background: none;
  text-align: left;
  font-size: 20px;
  color: #04396a;
  font-weight: 600;
  padding: 0;
  transition: 0.2s;
}

.profile-link:hover {
  color: #2f3ab2;
}

.post-title {
  color: #04396a;
  transition: 0.2s;
  cursor: pointer;
  font-size: 24px;
  font-weight: 800;
}

.post-title:hover {
  color: #2f3ab2;
}

.tags {
  color: var(--color-tags);
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
}

.post-tags {
  color: var(--color-secondary);
}

.on {
  color: #3c87f0;
}

.inter-btn {
  background: none;
  border: none;
  font-size: 30px;
  color: var(--color-tags);
  transition: 0.2s;
  cursor: pointer;
}

.inter-btn:disabled {
  color: #2f3ab2;
}

.marked {
  color: #2f3ab2;
}

.post-static {
  font-size: 18px;
  color: #04396a;
  font-weight: bold;
  text-align: center;
}

.non-border-input {
  background: none;
  outline: none;
  border: none;
  font-family: "Urbanist";
}
.header-input {
  font-size: 50px;
  font-weight: 900;
  width: 100%;
  margin-bottom: 15px;
}

.header-input::placeholder {
  color: var(--color-tags);
}

.sub-input {
  color: var(--color-dark-gray);
  font-size: 16px;
  display: block;
  margin-bottom: 15px;
}

.sub-input::placeholder {
  color: var(--color-tags);
}

.post-btn {
  background: #3c87f0;
  color: white;
  font-size: 18px;
  padding: 8px 22px;
  border-radius: 5px;
  margin-left: 10%;
  margin-top: 20px;
  transition: 0.2s;
}

.post-btn:disabled {
  cursor: not-allowed;
}

.post-btn:hover {
  opacity: 0.8;
}

.txt-btn {
  background: transparent;
  color: #3d3d3d;
  border: 2px solid var(--color-tags);
  font-size: 18px;
  padding: 8px 22px;
  border-radius: 5px;
  transition: 0.2s;
}

.txt-btn:hover {
  background: #00000009;
  border-color: #a3a3a3;
  color: black;
}

.switch-btn {
  font-size: 22px;
  color: var(--color-tags);
  background: none;
  padding: 12px 22px;
  margin-bottom: -8px;
}

.selected {
  border-bottom: 3px solid var(--color-secondary);
  color: #04396a;
}

.profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: -75px;
  border: 10px solid black;
  object-fit: "cover";
}

.cmnt {
  outline: none;
  background: none !important;
  border: 1px solid #dedede;
  border-radius: 5px;
  line-height: 30px;
  flex-basis: 78%;
  font-size: 18px;
  font-weight: 200;
  padding: 10px 20px;
  transition: ease-in-out;
}

.cmnt::placeholder {
  font-size: 16px;
}

.cmnt:focus {
  border: 2px solid var(--color-primary);
}

.post-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.rank-detail {
  top: 0;
  right: 0;
  border-top-right-radius: 50px;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  transform: translate(16%, -33%) rotate(-45deg);
  display: inline-block;
  border-top-right-radius: 5px;
  position: absolute;
  object-fit: scale-down;
}

.rank {
  position: absolute;
  right: 5px;
  top: -14px;
  color: white;
}

.secondary-btn {
  background: linear-gradient(152.03deg, #f5d06c -19.27%, #e6b93f 109.91%);
  border-radius: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  width: 80%;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 0;
  transition: 0.3s;
}

.secondary-btn:hover {
  box-shadow: 6px 4px 25px rgba(230, 156, 62, 0.34);
  opacity: 0.9;
}

.cat {
  color: #97a6b4;
}

.active-cat {
  background: linear-gradient(
    90deg,
    rgba(60, 135, 240, 0.27) 0%,
    rgba(60, 135, 240, 0.229206) 22.67%,
    rgba(60, 135, 240, 0.0729) 109.53%
  );
  padding: 10px 14px;
  border-radius: 20px;
  color: #04396a;
}

.toggle-cat {
  padding: 12px 28px;
  border-radius: 20px;
  transition: 0.2s ease-in;
}

.toggle-cat:hover {
  background: linear-gradient(
    90deg,
    rgba(60, 135, 240, 0.27) 0%,
    rgba(60, 135, 240, 0.229206) 22.67%,
    rgba(60, 135, 240, 0.0729) 109.53%
  );
  color: #04396a;
}

.active-icon svg {
  color: #04396a;
}

.sch-box {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-around;
  border: 2px solid #e8e8ea;
  border-radius: 20px;
  color: rgba(4, 57, 106, 1);
  padding: 12px 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

.sch-box h3 {
  margin: 0;
}

.select-input {
  border: 1px solid #97a6b4;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 16px;
  font-size: 16px;
  width: 75%;
}

.select-input:focus {
  border: 2px solid #3c87f0bf;
}

.badge {
  position: absolute;
  bottom: 0;
  right: 5px;
  height: 20px;
  width: 20px;
}

.badge--bg {
  height: 40px;
  width: 40px;
}

.badge--nv {
  right: -5px;
  height: 25px;
  width: 25px;
}

.input-tags {
  border: none;
  border: 1px solid #97a6b4;
  outline: none;
  border-radius: 5px;
  padding: 8px 16px;
}

.input-tags:focus {
  border: 2px solid #3c87f0bf;
}

.input-tags::placeholder {
  color: #97a6b4;
  font-family: "Urbanist";
  font-size: 16px;
}

.loading {
  margin-left: 15px;
  animation: spin 1s ease-in-out infinite;
}

.delete-p {
  background: var(--color-secondary);
  color: white;
  padding: 10px 22px;
  border-radius: 10px;
  font-size: 18px;
  transition: .2s;
}

.delete-p:hover {
  opacity: .8;
}

.delete-u {
  background: red;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*--------------extra small----------------*/
@media screen and (max-width: 600px) {
  .header-input {
    font-size: 32px;
  }
}

/*-------------!extra small---------------*/
@media screen and (min-width: 600px) {
  .menu-btn {
    display: none;
  }
}

/*---------------small devices---------------*/
@media screen and (max-width: 900px) {
  .home {
    background-position: 50% 10%;
    background-size: 140%;
  }
  .home_header__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home_header__img img {
    margin-bottom: 10px;
  }

  .header-primary-btn--xs {
    border-radius: 5px;
    border: 2px solid var(--color-primary);
    font-size: 28px;
    font-weight: 500;
    padding: 4px 18px;
    margin-right: 10px;
  }

  .header-secondary-btn--xs {
    border-radius: 5px;
    border: 2px solid var(--color-primary);
    background: #f0f0f0;
    color: var(--color-primary);
    font-size: 28px;
    font-weight: 500;
    padding: 4px 18px;
    transition: 0.3s;
  }

  .header-secondary-btn--xs:hover {
    opacity: 0.8;
  }

  .content-img {
    width: 300px;
  }

  .ratio {
    margin-top: 60px;
  }

  .info-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .about-box {
    height: 600px;
  }

  .home_content {
    background-size: 80%;
  }

  .footer {
    background-size: 30%;
  }

  .signup-btn {
    width: 100%;
    margin-top: 10px;
  }

  .auth-form input {
    width: 99%;
  }

  .profile-pic {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 10%;
    margin-top: -65px;
  }

  .mt {
    margin-top: 60px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    width: "100%";
  }

  .navtxt-btn {
    display: none;
  }
  .ds {
    display: block;
  }
}

/*------------------medium devices-----------------*/
@media screen and (max-width: 1200px) and (min-width: 900px) {
  .home {
    background-position: 130% 0%;
  }

  .email-bar {
    left: 50%;
    transform: translate(-50%, 0);
  }

  .home_header__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home_header__img img {
    position: relative;
    margin-right: 20px;
  }

  .home_header__img img:nth-child(1) {
    top: 0;
  }

  .home_header__img img:nth-child(2) {
    top: 60px;
  }

  .home_header__img img:nth-child(3) {
    top: -40px;
  }

  .about-box {
    height: 350px;
  }
}

/*------------------large devices-------------------*/
@media screen and (min-width: 1200px) {
  .home_header__img {
    flex-basis: 60%;
  }

  .home_header__img img {
    position: relative;
  }

  .home_header__img img:nth-child(1) {
    right: -100px;
    top: 80px;
  }

  .home_header__img img:nth-child(2) {
    right: -200px;
    top: 120px;
  }

  .home_header__img img:nth-child(3) {
    right: 85px;
    top: -55px;
  }

  .about-box {
    height: 480px;
  }
}

/*----------------Medium and large devices-----------------*/
@media screen and (min-width: 900px) {
  .home_navbar-links__btn {
    display: none;
  }

  .home_navbar-links--toggled {
    display: none;
  }

  .about-box {
    background-size: 23%;
  }

  .ratio {
    height: 250px;
  }
}

/*--------------Animation----------------*/

.home_header__right-box {
  animation: left-to-right 1s ease;
  position: relative;
}

@keyframes left-to-right {
  0% {
    left: -15%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.home_header__img {
  animation: right-to-left 1s ease;
  position: relative;
}

@keyframes right-to-left {
  0% {
    right: -15%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

.b span {
  color: #1640ac;
}
