:root {
  --color-white: #fff5f5;
  --color-light: #fbf6f6;
  --color-gray: #b4afaf;
  --color-dark-gray: #242424;
  --color-primary: #205bf1;
  --color-secondary: #d12f58;
  --color-dark: #1e1f24;
  --color-dark-blue: #011947;
  --color-dark-shadow: #121212;
  --color-success: #2ea44f;
}

body {
  font-family: "Urbanist", sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  background: var(--color-dark);
  list-style: none;
}

a {
  text-decoration: none;
}

.home {
  background-image: url(./assets/splash.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 130% -1%;
}

/*NavBar Style*/
.home_navbar-link {
  color: white;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0.1rem;
  margin-right: 26px;
  font-size: 18px;
}

.home_navbar-link:hover {
  opacity: 0.8;
}

.home_navbar-links__btn {
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.primary-btn {
  color: white;
  background: var(--color-primary);
  transition: 0.3s;
}

.text-btn {
  color: white;
  background: transparent;
}

.primary-btn:hover {
  opacity: 0.8;
}

.text-btn:hover {
  opacity: 0.8;
}

.nav-btn {
  font-size: 18px;
  padding: 8px 22px;
  border-radius: 5px;
}

.btn {
  border: none;
  cursor: pointer;
  font-family: "Urbanist", sans-serif;
}

.home_navbar-links--toggled {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 5px;
  padding: 16px;
  background: var(--color-dark-gray);
  border-radius: 5px;
  box-shadow: 8px 8px 10px var(--color-dark-shadow);
  z-index: 10;
  transition: 0.3s;
}

.link--toggled {
  margin-bottom: 15px;
}

.home_content {
  background: url(./assets/splash2.png);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 40%;
}

.footer {
  background-image: url(./assets/splash3.png);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

/*Header Style*/

.email-bar-input {
  border: none;
  outline: none;
  width: 70%;
  font-size: 16px;
  font-family: "Urbanist";
}

.header-btn {
  width: 30%;
  padding: 8px 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 28px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*Content Style */
.content-box {
  margin-top: 10px;
  border-left: 2px solid var(--color-primary);
  padding-left: 40px;
  margin-bottom: 80px;
  transition: 0.3s;
}

.content-box:hover {
  border-left: 2px solid var(--color-gray);
}

.content-primary-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  margin-top: 40px;
  font-size: 22px;
  width: auto;
}

.content-primary-btn svg {
  margin-left: 14px;
}

.about-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6867673b;
  margin-top: 250px;
  background-image: url(./assets/splash1.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.github-link {
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.github-link:hover {
  transform: translateY(-10%);
  opacity: 0.9;
}

.auth-form span {
  color: #979595;
  font-size: 16px;
  font-weight: 500;
}

.auth-form label {
  color: #bcccf6;
  display: block;
  margin-top: 32px;
  margin-bottom: 8px;
  font-size: 16px;
}

.auth-form input {
  outline: none;
  background: none !important;
  border: 1px solid #b4afaf2a;
  border-radius: 2px;
  line-height: 30px;
  caret-color: white;
  color: white;
  font-weight: 600;
  width: 78%;
  margin-right: 5px;
}

.auth-form input:focus {
  border-color: var(--color-primary);
}

.signup-btn {
  color: var(--color-success);
  background: none;
  border: 1px solid var(--color-success);
  border-radius: 2px;
  line-height: 30px;
  font-size: 18px;
  flex-grow: 1;
}

.signup-btn:disabled {
  color: #627597;
  border-color: #627597;
  opacity: 0.6;
}

.auth-msg {
  margin-top: 20px;
  margin-left: 20px;
  color: #627597;
  font-size: 16px;
  font-weight: 400;
}

.auth-link {
  color: #58a6ff !important;
  cursor: pointer;
  font-weight: 200;
}

.auth-link:hover {
  text-decoration: underline;
}

.email-confirmation input {
  font-size: 16px;
}

.--grow {
  position: relative;
  width: 100%;
}

.email-confirmation input {
  width: 100%;
}

.login-form input {
  width: 100%;
}

.login-btn {
  position: relative;
  margin-top: 42px;
  margin-bottom: 18px;
  left: 50%;
  width: 100%;
  padding: 6px 12px;
  transform: translateX(-50%);
  background: #2ea44f;
  color: var(--color-white);
  font-size: 22px;
  border-radius: 5px;
  opacity: 0.9;
}

.login-btn:hover {
  opacity: 1;
}

.auth-option {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.auth-option button {
  background: var(--color-dark);
  display: flex;
  justify-content: space-between;
  border: 1px solid #627597;
  border-radius: 2px;
  padding: 8px 12px;
  width: 80%;
  margin-bottom: 10px;
  transition: 0.2s;
}

.auth-option button span {
  color: white;
}

.auth-option button svg {
  color: var(--color-success);
  font-size: 18px;
}

.auth-option button:hover {
  background: var(--color-dark-gray);
}

.auth-option button:nth-child(4),
.auth-option button:nth-child(5) {
  display: block;
}

.auth-option button:nth-child(4) span,
.auth-option button:nth-child(5) span {
  position: relative;
  margin-right: 80%;
}

.auth-option button:nth-child(4) svg,
.auth-option button:nth-child(5) svg {
  color: white;
  font-size: 18px;
}

.speciality-option {
  margin-top: 10px;
}

.speciality-option button svg {
  color: var(--color-success) !important;
}

.header-title {
  color: var(--color-white);
  font-size: 52px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.header-sub-title {
  color: var(--color-gray);
  font-weight: 400;
  font-size: 22px;
  margin: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input[type="email"] {
  outline: none;
  padding: 12px;
  border: none;
  border-radius: 2px;
  width: 400px;
  font-size: 16px;
  font-family: "Urbanist";
  margin-bottom: 50px;
}

.contact-form input[type="email"]::placeholder {
  font-weight: 400;
}

.contact-form textarea {
  border: none;
  border-radius: 2px;
  padding: 12px;
  width: 400px;
  height: 200px;
}

.search-form {
  border: 2px solid #e3e3e3;
  transition: 0.3s ease-in-out;
  background: none;
}

.search-form:hover {
  border-color: #d7d6d6;
}

.search-bar {
  outline: none;
  border: none;
  background: none;
  font-size: 18px;
}

.nos-btn {
  font-size: 26px;
  background: none;
  border: none;
  color: var(--color-dark-gray);
}

.nos-btn:hover {
  color: #1640ac;
}

.navtxt-btn {
  background: none;
  border: 1px solid #205bf1;
  color: #205bf1;
  transition: 0.2s;
  margin-right: 15px;
}

.navtxt-btn:hover {
  background: #205bf1;
  color: white;
}

.menu-btn {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.left {
  flex-basis: 30%;
  position: sticky;
}

.right {
  flex-basis: 30%;
  position: sticky;
}

.profile-link {
  background: none;
  text-align: left;
  font-size: 18px;
  padding: 0;
}

.post-label {
  font-size: 12px;
  font-weight: 200;
}

.post-link {
  color: #3f3f3f;
}

.post-link:hover {
  color: var(--color-dark-gray);
}

.post-title {
  color: var(--color-dark-gray);
  transition: 0.2s;
  cursor: pointer;
  font-size: 24px;
  font-weight: 800;
}

.post-title:hover {
  color: #2f3ab2;
}

.tags {
  color: #3f3f3f;
  font-size: 16px;
  font-weight: 400;
  margin-right: 15px;
}

.inter-btn {
  background: none;
  border: none;
  font-size: 30px;
  color: #3f3f3f;
  transition: 0.2s;
  cursor: pointer;
}

.inter-btn:disabled {
  color: #2f3ab2;
}

.post-static {
  font-size: 18px;
  color: var(--color-dark-gray);
  font-weight: bold;
  text-align: center;
}

.non-border-input {
  background: none;
  outline: none;
  border: none;
  font-family: "Urbanist";
}
.header-input {
  font-size: 50px;
  font-weight: 900;
  display: block;
  margin-bottom: 15px;
}

.header-input::placeholder {
  color: #a1a1a1;
}

.sub-input {
  color: var(--color-dark-gray);
  font-size: 16px;
  display: block;
  margin-bottom: 15px;
}

.sub-input::placeholder {
  color: #a1a1a1;
}

.post-btn {
  background: var(--color-primary);
  color: white;
  font-size: 18px;
  padding: 8px 22px;
  border-radius: 5px;
  margin-left: 120px;
  margin-top: 20px;

}

/*--------------extra small----------------*/
@media screen and (max-width: 600px) {
  .navtxt-btn {
    display: none;
  }
}

/*-------------!extra small---------------*/
@media screen and (min-width: 600px) {
  .menu-btn {
    display: none;
  }
}

/*---------------small devices---------------*/
@media screen and (max-width: 900px) {
  .home {
    background-position: 50% 10%;
    background-size: 140%;
  }
  .home_header__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home_header__img img {
    margin-bottom: 10px;
  }

  .header-primary-btn--xs {
    border-radius: 5px;
    border: 2px solid var(--color-primary);
    font-size: 28px;
    font-weight: 500;
    padding: 4px 18px;
    margin-right: 10px;
  }

  .header-secondary-btn--xs {
    border-radius: 5px;
    border: 2px solid var(--color-primary);
    background: var(--color-dark-gray);
    color: white;
    font-size: 28px;
    font-weight: 500;
    padding: 4px 18px;
    transition: 0.3s;
  }

  .header-secondary-btn--xs:hover {
    opacity: 0.8;
  }

  .content-img {
    width: 300px;
  }

  .ratio {
    margin-top: 60px;
  }

  .info-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .about-box {
    height: 600px;
  }

  .home_content {
    background-size: 80%;
  }

  .footer {
    background-size: 30%;
  }

  .signup-btn {
    width: 100%;
    margin-top: 10px;
  }

  .auth-form input {
    width: 99%;
  }
}

/*------------------medium devices-----------------*/
@media screen and (max-width: 1200px) and (min-width: 900px) {
  .home {
    background-position: 130% 0%;
  }

  .email-bar {
    left: 50%;
    transform: translate(-50%, 0);
  }

  .home_header__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home_header__img img {
    position: relative;
    margin-right: 20px;
  }

  .home_header__img img:nth-child(1) {
    top: 0;
  }

  .home_header__img img:nth-child(2) {
    top: 60px;
  }

  .home_header__img img:nth-child(3) {
    top: -40px;
  }

  .about-box {
    height: 350px;
  }
}

/*------------------large devices-------------------*/
@media screen and (min-width: 1200px) {
  .home_header__img {
    flex-basis: 60%;
  }

  .home_header__img img {
    position: relative;
  }

  .home_header__img img:nth-child(1) {
    right: -100px;
    top: 80px;
  }

  .home_header__img img:nth-child(2) {
    right: -200px;
    top: 120px;
  }

  .home_header__img img:nth-child(3) {
    right: 85px;
    top: -55px;
  }

  .about-box {
    height: 480px;
  }
}

/*----------------Medium and large devices-----------------*/
@media screen and (min-width: 900px) {
  .home_navbar-links__btn {
    display: none;
  }

  .home_navbar-links--toggled {
    display: none;
  }

  .about-box {
    background-size: 23%;
  }

  .ratio {
    height: 160px;
  }
}

/*--------------Animation----------------*/

.home_header__right-box {
  animation: left-to-right 1s ease;
  position: relative;
}

@keyframes left-to-right {
  0% {
    left: -15%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.home_header__img {
  animation: right-to-left 1s ease;
  position: relative;
}

@keyframes right-to-left {
  0% {
    right: -15%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
